/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# Sometimes switching branches adds jekyll's gitignore stuff in master, ignore all of them
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
