<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="LinuxStat Gem">
<meta name="author" content="LinuxStat">
<meta name="keywords=" content="LinuxStat,Ruby,Gem" lang="en-GB">
<meta name="revisit-after" content="3days">
<meta name="robots" content="all">
<meta name="title" content="LinuxStat">
<meta property="og:title" content="LinuxStat">
<meta property="og:description" content="LinuxStat Gem">
<meta property="og:type" content="website">
<meta property="og:url" content="https://souravgoswami.github.io/linux_stat/">
<meta property="og:image" itemprop="image" content="https://souravgoswami.github.io/linux_stat/assets/logo.png">
