<table>
	<thead>
		<tr>
			<th>Table of Contents</th>
		</tr>
	</thead>

	<tbody>
		<tr><td><a href="#runtimeDependencies">Runtime Dependencies</a></td></tr>
		<tr><td><a href="#dependencies">Build Dependencies</a></td></tr>
		<tr><td><a href="#optionalDependencies">Optional Runtime Dependencies</a></td></tr>
		<tr><td><a href="#installation">Installation</a></td></tr>
		<tr><td><a href="#usage">Usage</a></td></tr>
		<tr><td><a href="#notes">Notes</a></td></tr>
		<tr><td><a href="#returntypes">Return Types</a></td></tr>
		<tr><td><a href="#rubyonrails">Ruby On Rails</a></td></tr>
		<tr><td><a href="#android">Android</a></td></tr>
		<tr><td><a href="#cloning-this-repo">Cloning this Repo</a></td></tr>
		<tr><td><a href="#development">Development</a></td></tr>
		<tr><td><a href="#testing">Testing</a></td></tr>
		<tr><td><a href="#contributing">Contributing</a></td></tr>
		<tr><td><a href="#licence">License</a></td></tr>
		<tr><td><a href="#languagesUsed">Languages</a></td></tr>
	</tbody>
</table>
