---
---

$width: 80% ;
$max-width: 900px ;

:focus {
	outline: none ;
}

@font-face {
	font-family: 'Alice' ;
	font-style: normal ;
	font-weight: 400 ;
	font-display: swap ;
	src: local('Alice Regular'), local('Alice-Regular'), url('{{ site.baseurl }}/assets/alice.woff2') format('woff2');
}

html, body {
	padding: 0 ;
	margin: 0 ;
	height: 100% ;
}

body {
	font-family: 'Alice' ;
	display: flex ;
	flex-direction: column ;
	background-color: #fff ;
}

#container {
	flex: 1 ;
}

.spark1 { animation: blink 0.5s linear infinite 0.1s ; }
.spark2 { animation: blink 0.5s linear infinite ; }
.spark3 { animation: blink 0.5s linear infinite 0.2s ; }
.spark4 { animation: blink 0.5s linear infinite 0.3s ; }

#footer {
	background-color: #111 ;
	color: #fff ;
	padding: 24px ;
	z-index: 1 ;
	position: relative ;

	.floaters {
		display: grid ;
		grid-template-columns: 1fr 1fr 1fr ;
	}

	.sm-flex-center {
		display: flex ;
		align-items: center ;
		flex-direction: row ;
	}

	ul {
		margin: 0 ;
		padding: 0 ;
		display: inline-flex ;
		justify-content: center ;
		align-items: center ;

		li {
			list-style: none ;
			color: #444 ;
			font-size: 24px ;
			font-family: 'Alice' ;
		}
	}

	#gems {
		margin: 4px ;
		width: 40px ;
		position: relative ;
	}

	.gem:last-child {
		position: absolute ;
		top: 0 ;
		left: 0 ;
		z-index: -1 ;
		filter: blur(4px) ;
	}

	p.footer-glow {
		filter: drop-shadow(0px 0px 2px #fff) ;
	}

	.icon24 {
		width: 24px ;
		height: 24px ;
		display: inline-block ;
		padding: 0 ;
		margin: 0 ;
	}

	.divider-horizontal {
		position: relative ;
		display: inline-block ;
		height: 100% ;
		width: 100% ;

		& .line {
			position: absolute ;
			display: inline-block ;
			left: 50% ;
			top: 0 ;
			bottom: 0 ;
			transform: translate(-50%) ;
			width: 2px ;
			height: 100% ;
			background: #fff ;
			filter: drop-shadow(0 0 4px #fff) ;
		}
	}

	.icon-h-36 {
		height: 36px ;
	}

}

@media(max-width: 768px) {
	#footer .divider-horizontal .line {
		width: 100% ;
		height: 2px ;
	}

	#footer {
		.floaters {
			display: block ;
		}

		.sm-flex-center {
			display: flex ;
			align-items: center ;
			justify-content: center ;
			flex-direction: row ;
		}
	}
}

.btn-blade-anim {
	text-decoration: none !important ;
	padding: 8px ;
	font-size: 16px ;
	border: 2px solid #f55 ;
	position: relative ;
	display: inline-block ;
	overflow: hidden ;
	background: linear-gradient(45deg, #f55, #55f, #222, #222) ;
	background-size: 400% ;
	background-position: 100% ;
	transition: all 0.125s linear 0.25s, filter 3s ease !important;
	border-radius: 6px ;
	cursor: pointer ;
	user-select: none ;

	& .text {
		transition: all 0.25s ease 0.25s ;
		color: #f55 !important ;
	}

	&::before {
		content: '' ;
		position: absolute ;
		background-color: #fff ;
		top: 0 ;
		left: 0 ;
		width: 200% ;
		height: 50% ;
		filter: drop-shadow(0 0 8px #fff) ;
		transform: translateX(-100%) rotate(45deg) ;
		transition: all 0.25s linear ;
	}

	&:hover::before {
		transform: translateX(100%) rotate(45deg) ;
	}

	&:hover {
		background-position: 0% ;
		border-color: #f22 ;
		box-shadow: 2px 3px 6px #f557 ;
		transition-delay: 0s !important ;

		& .text {
			filter: drop-shadow(0 0 4px #ffff) ;
			color: #fff !important ;
			transition-delay: 0s ;
		}
	}

	&:active {
		box-shadow: 0px 0px 6px #f55b ;
	}

	&:active .text {
		filter: drop-shadow(0 0 2px #ffff) ;
		color: #fff !important ;
	}
}

@keyframes lighting1 {
	0% {
		color: #444 ;
		text-shadow: none ;
	}

	100% {
		color: #0FE4F8 ;
		text-shadow: 0 0 12px #EEF, 0 0 12px #AAF, 0 0 40px #0FE4F8, 0 0 40px #0FDDFF ;
	}
}

@keyframes lighting2 {
	0% {
		color: #444 ;
		text-shadow: none ;
	}

	100% {
		color: #2FBA6B ;
		text-shadow: 0 0 12px #5a0, 0 0 12px #5a5, 0 0 40px #2FBA6B, 0 0 40px #0a0 ;
	}
}

@keyframes blink {
	0%, 100% {
		opacity: 0 ;
	}

	50% {
		opacity: 1 ;
	}
}

#container {
	margin: 0 ;
}

#header {
	background-color: #222 ;
	height: 300px ;
	color: #fff ;
	position: relative ;
	display: block ;
	margin: 0 ;
	overflow: auto ;
	width: $width ;
	max-width: $max-width ;
	margin: 0 auto ;

	#content {
		position: relative ;
		z-index: 10 !important ;
		height: 100% ;
		display: flex ;
		justify-content: center ;
		text-align: center ;
		align-items: center ;
		flex-direction: column ;
		width: 100% ;
	}

	#content .main {
		font-size: 48px ;
		display: flex ;
		align-items: center ;
		justify-content: center ;
		user-select: none ;

		#logo {
			width: 156px ;
		}

		.p1 {
			text-shadow: 0 0 12px #FAA, 0 0 12px #F88, 0 0 40px #FFE408, 0 0 40px #FFDD0F ;
		}

		.p2 {
			text-shadow: 0 0 12px #5a0, 0 0 12px #5a5, 0 0 40px #2FBA6B, 0 0 40px #0a0 ;
		}
	}
}

#header::before, #header::after {
	content: '' ;
	height: 100% ;
	width: 100% ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	background: transparent url("{{ site.baseurl }}/assets/bg.svg") no-repeat center center ;
	background-size: fill ;
}

#header::before {
	filter: blur(3px) ;
}

#info {
	width: $width ;
	max-width: $max-width ;
	font-size: 20px ;
	margin: 24px auto ;
	margin-top: 0 ;
	line-height: 40px ;

	.title {
		font-size: 48px ;
		color: #159957 ;
		margin: 2rem 0 ;
	}

	h3 {
		background: linear-gradient(45deg, #3da, #55f) ;
		display: inline-block ;
		color: transparent ;
		-webkit-background-clip: text ;
		background-clip: text ;
	}

	.head {
		display: block ;
		color: transparent ;
		position: relative ;
		transition: all 0.5s ease ;
		margin: 16px 0 4px 0 ;

		&:after {
			content: attr(content) ;
			font-size: 34px;
			display: inline-block ;
			font-weight: normal ;
			position: relative ;
			color: transparent ;
			background: linear-gradient(45deg, #fa0, #55f, #f55) ;
			background-clip: text ;
			-webkit-background-clip: text ;
			text-decoration: none !important ;
			cursor: pointer ;
		}

		&::before {
			content: '' ;
			background: url("{{ site.baseurl }}/assets/link.svg") center center no-repeat ;
			background-size: 20px ;
			height: 100% ;
			width: 20px ;
			position: absolute ;
			display: inline-block ;
			top: 50% ;
			left: -30px ;
			transform: translateY(-50%) ;
			transition: all 0.25s ease ;
			opacity: 0 ;
		}

		&:hover {
			&::before {
				opacity: 1 ;
			}

			filter: drop-shadow(2px 2px 1px #0003) ;
		}
	}

	break {
		display: block ;
		margin: 24px ;
	}

	img {
		width: 100% ;
	}

	code {
		color: #666 ;
		font-size: 12px ;
		margin: 0 4px ;
		transition: all 0.25s ease ;

		&:hover {
			color: #333 ;
			text-decoration: underline ;
		}
	}

	pre {
		margin: 12px 0 ;
		text-align: justify ;
		padding: 6px ;
		width: 100% ;
		white-space: pre-wrap ;
		word-break: break-all ;
		background-color: #efefef ;
		line-height: 150% ;
		border-radius: 6px ;
		font-size: 14px ;

		&.nowrap {
			white-space: pre !important ;
			// word-break: normal !important ;
			overflow: auto ;
		}

		code {
			counter-increment: listing ;
			overflow: auto ;

			&::before {
				content: counter(listing) '. ' ;
				display: inline-block ;
			}
		}

		file {
			display: block ;
			color: #000 ;
			font-size: 12px ;
			width: 100%;
			font-weight: bold ;
			position: relative ;
		}

		file::before {
			content: '' ;
			background: url("{{ site.baseurl }}/assets/text-x-generic.svg") no-repeat ;
			background-size: cover ;
			height: 24px ;
			width: 24px ;
			filter: drop-shadow(3px 3px 1px #0003) ;
			margin: 0 8px 16px 0 ;
			display: inline-flex ;
			align-items: center ;
			user-select: none ;
		}

		dollar, hash {
			display: block ;
		}

		dollar::before {
			content: '$ ' ;
			user-select: none ;
		}

		hash::before {
			content: '# ' ;
			user-select: none ;
		}
	}
}

@media(max-width: $max-width) {
	#header {
		width: 100% ;
	}
}
