<!Doctype HTML>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="LinuxStat Gem">
		<meta name="author" content="LinuxStat">
		<meta name="keywords=" content="LinuxStat,Ruby,Gem" lang="en-GB">
		<meta name="revisit-after" content="3days">
		<meta name="robots" content="all">
		<meta name="title" content="LinuxStat">
		<meta property="og:title" content="LinuxStat">
		<meta property="og:description" content="LinuxStat Gem">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://souravgoswami.github.io/linux_stat/">
		<meta property="og:image" itemprop="image" content="https://souravgoswami.github.io/linux_stat/assets/logo.png">

		<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">
		<title>LinuxStat Ruby Gem</title>

		{% include loaderCSS.css.html %}

		<link rel="preload" as="style" href="{{ site.baseurl }}/assets/style.css">
		<link rel="preload" as="script" href="{{ site.baseurl }}/assets/script.js">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
	</head>

	<body>
		<div id="loader-head">
			<div id="loader">
				<div class="loaders" style="animation-delay: 0ms"></div>
				<div class="loaders" style="animation-delay: 700ms"></div>
				<div class="loaders" style="animation-delay: 1400ms"></div>
			</div>
			<p>Loading...</p>
			<div id="loaderHider">{% include arrow_down.svg.html %}</div>
		</div>

		<noscript>This website requires JavaScript.</noscript>

		<script>
			let lh = document.getElementById('loader-head')
			document.getElementById('loaderHider').onclick = function() { lh.remove() }
			document.addEventListener('DOMContentLoaded', function() { if (lh) lh.remove() })
		</script>

		<div id="container">{{ page.content }}</div>
		{% include footer.html %}
		<script src="{{ site.baseurl }}/assets/script.js"></script>
	</body>
</html>
