<!Doctype HTML>

<html>
	<head>
		{% include meta_tags.html %}

		<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">
		<title>LinuxStat Ruby Gem</title>

		{% include loaderCSS.css.html %}

		<link rel="preload" as="style" href="{{ site.baseurl }}/assets/style.css">
		<link rel="preload" as="script" href="{{ site.baseurl }}/assets/script.js">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
	</head>

	<body>
		<div id="loader-head">
			<div id="loader">
				<div class="loaders" style="animation-delay: 0ms"></div>
				<div class="loaders" style="animation-delay: 700ms"></div>
				<div class="loaders" style="animation-delay: 1400ms"></div>
			</div>
			<p>Loading...</p>
			<div id="loaderHider">{% include arrow_down.svg.html %}</div>
		</div>

		<noscript>This website requires JavaScript.</noscript>

		<script>
			let lh = document.getElementById('loader-head')
			document.getElementById('loaderHider').onclick = function() { lh.remove() }
			document.addEventListener('DOMContentLoaded', function() { if (lh) lh.remove() })
		</script>

		<div id="container">{{ content }}</div>
		{% include footer.html %}
		<script src="{{ site.baseurl }}/assets/script.js"></script>
	</body>
</html>
